#div_cookie_banner{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 0 10px;
    display: inline-block;
}

#message{
    display: inline-block;
    margin-right: 10px;
}

#decline_cookie, #accept_cookie{
    float:center;
    background-color: rgb(146, 181, 255);
    border:none;
    width: 15%;
    height: 20% ;
}

#pannello_pulsanti{

}