ul {
    background-color: rgb(12, 12, 83);
    text-align: center;
}

li {
    display: inline-block;
}

li a{
    display: block;
    text-decoration: none;
    padding: 16px;
    color:white;
}

#div_header{
    display: flow;
    background-color: rgb(146, 181, 255);
    padding: 0;
    margin:0;
}

#titolo_sito{
    text-align: center;
    background-color: rgb(146, 181, 255) ;
    font-family: Arial;
}

span{
    text-align: center;
}

