main {
    background-color: rgb(146, 181, 255);
    text-align: center;
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
}
div {
    margin:auto;
}

img {
    width: 250px;
}
span img{
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
}
