body {
    background-color: rgb(146, 181, 255);
    
}
main {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
    

}
div {
    margin:auto;
    
}

img {
    height: 150px;
    
}
#im1{
    height: 300px;
    
}
button {
    margin-top:1em;
    background-color: rgb(12, 12, 83);
    border:none;
    width: 30%;
    height: 5% ;
    color:white;
    font-size: 100%;
    font-family: "Times New Roman", Times, serif;
  
}
