body {
    background-color: rgb(146, 181, 255);
    
}
main {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 150%;
    font-family: "Calibri";
}

img {
    height: 175px;
}
#im1{
    height: 300px;
}
button {
    margin-top:1em;
    background-color: rgb(12, 12, 83);
    border:none;
    width: 30%;
    height: 5% ;
    color:white;
    font-size: 100%;
    font-family: "Calibri";
}
