
main {
    
    
        margin-left:30%;
        margin-right:30%;
        margin-top:5%;
        background-color: rgb(146, 181, 255);
        padding: 10px;
        text-align: center;
        line-height: 300% ;
        overflow-wrap: break-word;
        font-size: 150%;
        font-family: "Times New Roman", Times, serif;
      
}



button {
    background-color: rgb(12, 12, 83);
    border:none;
    width: 30%;
    height: 5% ;
    color:white;
    font-size: 60%;
    font-family: "Times New Roman", Times, serif;
  
}

input{
    height: 3% ;
    width: 60%;
    border:none;
}

.error{
    color:red;
}

