body{
    background-color: rgb(146, 181, 255);
}
img{
    margin-top:2em;
    height: 30em;
    margin-left: 37%;
    margin-right: auto;

    
}
p{
    margin-top:2em;
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
td{
    display: block;
}