button {
    margin-top: 1em;
    background-color: rgb(12, 12, 83);
    border:none;
    width: 49%;
    height: 5% ;
    color:white;
    font-size: 100%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
main {
    margin-left: 35%;
    margin-right: 35%;
    margin-top:0%;
    
    font-size: 140%;
    font-family: "Times New Roman", Times, serif;
    border:none;

}
input{
    background-color: rgb(212, 222, 243);
    height: 3% ;
    width:100%;
    border:none;
}
#bt1{
    width:5%;
}
h1{
    text-align:center;
}

