nav, body, main {
    background-color: red !important;
}

button {
    background-color: darkred !important;
}

#div_header ul, #div_footer, #footer{
    background-color: darkred !important;
}

#div_header, #titolo_sito{
    background-color: red !important;
    box-shadow: 0px 3px 10px 1px rgb(122, 0, 0) !important;
}

#div_header ul li:hover, nav button:hover{
    background-color: rgb(122, 0, 0) !important;
}


