nav {
    background-color: rgb(139, 186, 248);
    text-align: center;
    font-size: 230%;
    /*color:white;*/
    height:45%;
    line-height: 200% ;
}
button {
    background-color: rgb(12, 12, 83);
    border:none;
    width: 18%;
    height: 12% ;
    color:white;
    font-size: 70%;
    font-family: "Calibri";
  
}

nav button:hover{
    background-color: rgb(6, 6, 46);
}

#utenti_registrati{
    background-color: white;
    color: black;
    display: none;
}

#simpatizzanti{
    background-color: white;
    color: black;
    display: none;
}

#aderenti{
    background-color: white;
    color: black;
    display: none;
}

#donazioni{
    background-color: white;
    color: black;
    display: none;
}

#iscrizioni{
    background-color: white;
    color: black;
    display: none;
}
#iscrizioni .attivita {
    width: 30%;
    display: block;
    border: 10px solid #f8f8f8;
    padding: 10px;
    margin: 10px;
}
#iscrizioni input:checked + .attivita {
    border-color: green;
}
#iscrizioni .attivita img {
    width: 100%;
    display: block;
}
#iscrizioni input {
    /*display: none;*/
}

#donazione{
    background-color: white;
    color: black;
    display: none;
}

#elimina_profilo{
    background-color: white;
    color: black;
    display: none;
}

#dati_personali{
    background-color: white;
    color: black;
    display: none;
}

#visite{
    background-color: white;
    color: black;
    display: none;
}

#contatore_totale{
    text-align: center
}


