nav {
    background-color: rgb(139, 186, 248);
    text-align: center;
    font-size: 230%;
    /*color:white;*/
    height:45%;
    line-height: 200% ;
    

  
}
button {
    background-color: rgb(12, 12, 83);
    border:none;
    width: 20%;
    height: 12% ;
    color:white;
    font-size: 70%;
    font-family: "Times New Roman", Times, serif;
  
}
